/data_manual/
/dataX/
/data.zip
/data/
/data_manualX/
/data_manual (copy)/
/data_manual (another copy)/
/data_manual_tmp/
/data_manual_presi/
/data_manual_tmp2/
/data_manual_done/
/data_manual_20231201/
/data_manual_20231130_labeled/
/deprecated/
/data_manual_20231201_labeled/
/data_manual_20231204/
/data_manual_20231204_labeled/
/data_manual_20231206/
/data_manual_20231206_labeled/
/data_manual_20231212_labeled/
/data_manual_20231212/
/eat/
/data_manual_SpleenX/
/data_manual_Spleen_V01/
/data_manual_Spleen_V02/
/data_manual_20240508_labeled/
/data_manual_20240510_unlabeled/
/data_manual_20240514_unlabeled_AI/
/data_manual_20240514_unlabeled_RANDOM/
/data_manual_Y/
/data_manual_20240513_unlabeled/
/data_manual_20240514_unlabeled_AI_X/
/data_manual-X/
/data_manual (3rd copy)/
/data_manualXX/
/data_manual_20240527_labeled_RANDOM_FULL_V02/
/data_manualY/
/data_manualT/
